@import "main.css";

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.password-label {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 25px;
}
